@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hemo-color-primary: #bb0a08;
  --hemo-color-primary-dark: #8a0000;
  --hemo-color-primary-light-2: #e93c3c;
  --hemo-color-primary-light-1: #ff6262;
  --hemo-color-secondary: #f2f2f2;
  --hemo-color-success: #2ac769;
  --hemo-color-warn: #f6a609;
  --hemo-color-text-secondary: #25282b;
  --hemo-color-text-secondary-opaque: rgba(37, 40, 43, 0.2);
  --hemo-color-text-primary: #f2f2f2;
  --zap: #32d851;
  --crazy-gray: #d9d9d9;
  --midsummer-dream: #b2cfd8;
  --cornflower-blue: #6E91C7;
  --mexican-chile: #CD6D71;
  --black-0: #FFFFFF;
  --black-5: #F9F9FA;
  --black-10: #E8E8E8;
  --black-20: #DBDDE0;
  --black-40: #CACCCF;
  --black-60: #A0A4A8;
  --black-80: #52575c;
  --black-100: #25282b;
  --mexican-chile: #cd6d71;
  --el-color-primary: var(--hemo-color-primary) !important;
  --el-color-primary-light-3: var(--hemo-color-primary) !important;
  --el-color-primary-light-5: var(--hemo-color-primary-dark) !important;
  --el-color-primary-light-7: var(--hemo-color-primary) !important;
  --el-color-primary-light-9: var(--hemo-color-white) !important;
  --el-color-primary-dark-2: var(--hemo-color-primary-dark) !important;
  --el-color-main: var(--hemo-color-secondary) !important;
  --el-color-success: var(--hemo-color-success) !important;
  --el-color-warning: var(--hemo-color-warn) !important;
  --el-color-danger: var(--hemo-color-warn) !important;
  --el-color-info: var(--hemo-color-primary) !important;
  --el-color-text-primary: var(--hemo-color-text-primary) !important;
  --el-color-text-secondary: var(--hemo-color-text-secondary) !important;
  --el-border-color-light: var(--hemo-color-primary-dark) !important;
  --el-disabled-border-color: #d4d7de !important;
  --el-bg-color: var(--hemo-color-secondary) !important;
  --el-border-radius-base: 8px !important;
  --hemo-page-max-width: 1080px;
  --hemo-page-min-height: 93dvh;
}

.el-button + .el-button {
  margin: 0 !important;
}

.el-tabs__header {
  margin: 0 !important;
}

html,
body {
  background-color: var(--hemo-color-secondary);
  color: var(--hemo-color-text-secondary);
  margin: 0;
  padding: 0;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  font-family: "Lato", "Roboto", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

#__nuxt {
  width: 100%;
  min-height: 100dvh;
}

body {
  min-height: 100dvh !important;
  width: 100vw !important;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:focus,
a:hover,
a:visited {
  outline: 0;
  -moz-outline-style: none;
  outline-style: none;
}

*:focus {
  outline: 0 !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
